{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="  margin-left: 20%;
  margin-right: auto;">Events. {{ c }} rows</h2>

    <table class="table table-striped" style="width:60%;margin-left: auto; margin-right: auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>activity ID</th>
            <th>is_internal</th>
            <th>organizer</th>
            <th>price</th>
            <th colspan="2">actions</th>
        </tr>
        </thead>
        {% for event in items %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.activity_id }}</td>
                <td>{{ event.is_internal }}</td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.price }}</td>

                <td><a href="/events/edit/{{ event.id }}">edit</a></td>
                <td><a href="/events/delete/{{ event.id }}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <div style="margin-left: 20%">
        {{ knp_pagination_render(items) }}
    </div>
{% endblock %}