{% extends 'base.html.twig' %}

{% block body %}

    <form style="width:40%; margin-left: auto; margin-right: auto; " class="form-group" action="/activities/edit/{{ activity.id }}" method="post">
        <label for="name">name</label>
        <input type="text" name="name" class="form-control" value="{{ activity.name }}" required>

        <label for="starts_at">starts at</label>
        <input type="text" name="starts_at" class="form-control" value="{{ activity.starts_at }}" required>

        <label for="participants_number">participants number</label>
        <input type="text" name="participants_number" class="form-control" value="{{ activity.participants_number }}">

        <label for="seats_number">seats number</label>
        <input type="text" name="seats_number" class="form-control" value="{{ activity.seats_number }}">
        
        <input type="submit">
    </form>

{% endblock %}