{% extends 'base.html.twig' %}
{% block body %}
    <h2 style="  margin-left: 20%;
  margin-right: auto;">Places. {{ c }} rows</h2>

    <table class="table table-striped" style="width:60%;margin-left: auto; margin-right: auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>activity ID</th>
            <th>name</th>
            <th>has_computers</th>
            <th>tables_number</th>
            <th>has_projector</th>
            <th>chairs_number</th>
            <th colspan="2">actions</th>
        </tr>
        </thead>
        {% for place in items %}
            <tr>
                <td>{{ place.id }}</td>
                <td>{{ place.activity_id }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.has_computers }}</td>
                <td>{{ place.tables_number }}</td>
                <td>{{ place.has_projector }}</td>
                <td>{{ place.chairs_number }}</td>
                <td><a href="/places/edit/{{ place.id }}">edit</a></td>
                <td><a href="/places/delete/{{ place.id }}">delete</a></td>
            </tr>
        {% endfor %}
        </tr>
    </table>
    <div style="margin-left: 20%">
        {{ knp_pagination_render(items) }}
    </div>
{% endblock %}