{% extends 'base.html.twig' %}

{% block body %}
    <form style="width:40%; margin-left: auto; margin-right: auto; " class="form-group" id="pupilForm" action="/pupils/new"
          method="post" >
    <h2>New pupil</h2>
    <div class="form-row">
        <div class="orm-group col-md-4">
            <label for="enrolled_at">enrolled at</label>
            <input type="text" name="enrolled_at" id="date" class="form-control" required>
        </div>
        <div class="orm-group col-md-2">
            <label for="class_id">class_id</label> {# select #}
            <select name="class_id" id="class_id" class="custom-select mr-sm-3" required>
                <option value="" disabled selected>choose class</option>
                {% for c in classes %}
                    <option value={{ c.id }}>
                        {{ c.id }} | {{ c.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="orm-group col-md-3">
            <label for="pupil_representative_id">representative_id</label> {# select #}
            <select name="pupil_representative_id" id="pupil_representative_id" class="custom-select mr-sm-3" required>
                <option value="" disabled selected>choose representative</option>
                {% for c in reps %}
                    <option value={{ c.id }}>
                        {{ c.id }} | {{ c.name }} | {{ c.surname }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="orm-group col-md-6">
            <label for="user_id">User</label>
            <select id="user_id" name="user_id" class="custom-select mr-sm-2" required>
                <option value="" disabled selected>choose user</option>
                {% for u in users %}
                    <option value={{ u.id }}>
                        {{ u.id }} {{ u.name }} {{ u.surname }} | {{ u.account_type }} | {{ u.sex }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
        <input type="submit">
    </form>

{% endblock %}