{% extends 'base.html.twig' %}

{% block body %}

    <form style="width:40%;margin-left: auto; margin-right: auto; " class="form-group" action="/users/edit/{{ user.id }}" method="post">
        <label for="name">name</label>
        <input type="text" name="name" class="form-control" value="{{ user.name }}" required>

        <label for="surname">surname</label>
        <input type="text" name="surname" class="form-control" value="{{ user.surname }}" required>

        <label for="birth_date">birth date</label>
        <input type="text" name="birth_date" class="form-control" value="{{ user.birth_date }}" required>

        <label for="account_type">account type</label>
        <select name="account_type" class="custom-select mr-sm-2" id="select-account" required>
            <option value="{{ user.account_type }}">{{ user.account_type }}</option>
            {% if user.account_type == "employee"%}
            <option value="pupil" id="pupil">pupil</option>
            {% else %}
            <option value="employee" id="employee">employee</option>
            {% endif %}
        </select>

        <label for="created_at">created at</label>
        <input type="text" name="created_at" id="date" class="form-control" value="{{ user.created_at }}" required>

        <label for="sex">sex</label>
        <input type="text" name="sex" class="form-control" value="{{ user.sex }}" required>


        <input type="submit">
    </form>

{% endblock %}
